.login-container{
    width: 100%;
    height: 100%;
    background-color: var(--blog-light);
    display: flex;
    align-items: center;
    padding-bottom: 150px;
    
}

.login-container-form{
    width: 100%;
}

.login-logo{
    width: 100px;
}

.login-form{
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}