<div class="reader-blog-container">
    <div class="reader-blog-header">
        <img style="width: 300px;" src="../../assets/img/logoPng.png"/>
    </div>
    <div class="reader-blog-cards" *ngFor="let publication of publications">
        <app-reader-blog-card 
            [image]="(publication.photoLink | safeResourceUrl)" 
            [title]="publication.title" 
            [content]="publication.content" 
            [data]="publication.calendar"
            [category]="publication.categoryDTO"
            [user]="publication.userDTO">
        </app-reader-blog-card>
    </div>
</div>