<div class="row reader-forum-card-container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="text-center">
                <img class="card-img-top reader-forum-card-img" [src]="image" alt=""/>
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{ title }} </h5>
                <p class="card-text"> {{ content }} </p>
                <p class="card-text"><small class="text-muted">{{data}}</small><small class="text-muted"> Category: {{data}}</small></p>
            </div>
        </div>
    </div>
</div>
