html, body {
    height: 100%;
}

:root{
    --blog-light-grey: #2a2c2b;
    --blog-dark-grey: #1e1e20;
    --blog-red: #dc3522;
    --blog-blue: #02467b;
    --blog-green: #1e9523;
    --blog-light: #f8f9fa;
}
