<div class="admin-category-container">
    <div class="admin-category-container-new-category">
        <div class="admin-category-container-publication-button">
            <button stytype="button" class="btn btn-link">
                <a href="/admin">
                    <h6>
                        <i class="fa mr-2 fa-arrow-left "></i>
                        Publications
                    </h6>
                </a>
            </button>
        </div>
        <div>
            <form [formGroup]="categoryForm" class="admin-category-container-form">
                <div class="form-group row">
                    <label class="col-4 col-form-label">Add new Category: </label>
                    <div class="col-7">
                        <input formControlName="categoryName" class="form-control" type="text" placeholder="Name"/>
                        <bg-message
                            *ngIf="errorMessage && formModel === 'SAVE' "
                            [message]="errorMessage"
                            [messageType]="messageTypeError">
                        </bg-message>
                    </div>
                    <div class="col-1">
                        <i  
                            *ngIf="!categoryForm.invalid; else disableButton" 
                            class="fa fa-plus fa-lg admin-category-container-form-plus"
                            (click)="saveCategory()">
                        </i>
                        <ng-template #disableButton>
                            <i class="fa fa-plus fa-lg admin-category-container-form-plus-disabled"></i>
                        </ng-template>
                        
                    </div>
                </div>
            </form>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        *ngFor="let category of categories" 
                        [ngClass]="{'admin-category-editting-tr': category.editting}">
                        <td>
                            <span [hidden]="category.editting">{{ category.name }}</span>
                            <input
                                type="text"
                                class="admin-category-editting-input" 
                                [hidden]="!category.editting" 
                                [(ngModel)]="categoryClone.name"/>
                            <bg-message
                                [hidden]="!category.editting"
                                *ngIf="errorMessage && category.editting && formModel === 'EDIT' " 
                                [message]="errorMessage"
                                [messageType]="messageTypeError"
                            ></bg-message>
                        </td>
                        <td>
                            <i 
                                [hidden]="category.editting" 
                                class="fa fa-edit fa-lg mr-4 admin-category-container-form-edit" 
                                (click)="allowEdittingModel(category)">
                            </i>
                            <i 
                                [hidden]="category.editting" 
                                class="fa fa-trash fa-lg admin-category-container-form-delete" 
                                (click)="deleteCategory(category)">
                            </i>
                            <i 
                                [hidden]="!category.editting" 
                                class="fa fa-check fa-lg mr-4 admin-category-container-form-save" 
                                (click)="editCategory(category)">
                            </i>
                            <i 
                                [hidden]="!category.editting" 
                                class="fa fa-times fa-lg admin-category-container-form-delete" 
                                (click)="cancelEdittingModel(category)">
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
